footer.footer(role="contentinfo")
  p Built with <a href="http://harpjs.com">Harp</a>. Published on <a href="https://github.com/">GitHub</a> by <a href="http://wearetheplaymakers.com/">wearetheplaymakers.com</a>
